@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
body{
   
    align-items: center;
    min-height: 100vh;
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Prevent scrolling when the popup is open */
  }
header {
background: transparent;   
 color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 15px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  font-style: normal;
}
.side {
    font-size: 17px;
    position: fixed;
    top :  5%;
    left: 87%;
    

}

.user-login {
    text-decoration: none;
    cursor: pointer;
    order:2; /* Moves the user icon to the right */
}


#user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right:20px ;
    margin-top: 5px;
}
.dropdown-content {
    display: none;
    position: fixed;
    height: 180px;
background: transparent;
border: 2px solid rgba(255, 255, 255, 0.307);
min-width: 160px;
    left: 88%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.dropdown-content a {
    color: white;
    padding: 18px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dfdcdc;
}
.container{
    background: transparent;
    height:450px;
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border: 2px solid rgba(255, 255, 255, 0.307);
   border-radius: 15px;
   backdrop-filter: blur(9px);
   color: #fff;

}

.container button{
    position: relative;
    height: 50px;
    width: 50px;
    top: 5%;
    left: 4%;
    margin: 15px 10px;
    padding-inline: 0px 0px;
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bolder;
    border: 2px solid rgba(255, 255, 255, 0.307);
    border-radius: 10px;
background: transparent;
color: #fff;
} 

.container button:hover{
    border: 3px solid black;
    font-size: 22px;;
}
#display{
    position: relative;
    top:5%;
    left:3%;
background: transparent;   
 text-align: right;
    height: 40px;
    width: 330px;
    margin: 15px 10px;
    padding: 10px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.307);
    border-radius: 10px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}
#equal{
    position: absolute;
    top:61.3%;
    left: 78%;
    height:132px
}




#history {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    display: none;
}

h2 {
    color: #fff;
    text-align: center;
}

#historyList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 150px;
    border: 2px solid rgba(255, 255, 255, 0.307);
    border-radius: 15px;
    padding: 10px;
background: transparent;
    color: #fff;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 270px;
    height: 320px;

}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.icon img{
    margin-top: -10px;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#popupMessage{
    margin-top: -20%;
}
.transparent-body {
backdrop-filter: blur(9px);
}
.btn{
    width: 50%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
